
.title {
    text-align: center;
}

h2 {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 30px;
}


.container {
    justify-content: center;
}

.category {
    font-size: smaller;
    text-align: center;
}

#info {
    text-align: center;
    background-color:lightgreen;
}

#alert {
    text-align: center;
    background-color: lightcoral;
    color: white;
}

.menuitem {
    display: inline-block;
    padding-left: 4px;
    padding-right: 8px;
}

.cardprice {
    display: inline-block;
    text-align: right;
}

footer {
    margin-bottom: 20px;
}

.price {
    font-size: x-large;
}

.profile {
    margin-bottom: 0px;
    margin-top: 0px;
}

address {
    margin-left: 20px;
}

#addButton {
    margin-top: 10px;
}

.card-img-top {
    width:auto;
    height: auto;
    max-height: 12rem;
    max-width: 12rem;
}

.prwimg {
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
    height: 12rem;
    width: 12rem;
}

.prwimg img {
    margin: auto;
}

.mainimg {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.mainimg img {
    max-width: 30rem;
    max-height: 20rem;
    width: auto;
    height: auto;
}

#carouselExampleCaptions h5 {
    text-shadow: 4px 4px 4px black;
}
#carouselExampleCaptions p {
    text-shadow: 4px 4px 4px black;
}

#filter {
    margin-bottom: 10px;
}