
.title {
    text-align: center;
}

h2 {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 3px;
}


.container {
    justify-content: center;
}

.category {
    font-size: smaller;
    text-align: center;
}

#addedToCart {
    text-align: center;
    background-color:lightgreen;
}

#alert {
    text-align: center;
    background-color: lightcoral;
}

.menuitem {
    display: inline-block;
    padding-left: 4px;
    padding-right: 8px;
}